.window-box-products{
    position: fixed;
    background: #CCCCCC88;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 24px;
}
.my-product-card{
    display: block;
    background-color: white;
    position: relative;
    border-radius: 20px;
    height: 50%;
    padding: 1.75rem;
    min-width: 300px;
}
.my-product-card-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.my-product-list{
    overflow-y: auto;
    display: block;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 0.25rem;
}
.scrollable-container{
    display: block;
    padding: 1.5rem;
    width: 100%;
    overflow-x: auto;
}
.button-item__edit, .button-item__trash{
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}
.close{
    cursor: pointer;
}
.button-item__edit:hover{
    color:orange;
}
.button-item__trash:hover, .close:hover{
    color:red
}